/*!
 * styles
 */

/*body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}
*/
.post-meta {
    color:navy !important;
  }

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}  

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 18px;    
  }

blockquote {
  padding-left: 1em;
  font-style: italic;
  font-size: 110%;
  color: #080c11;  
}

.responsive {
  max-width: 90%;
  height: auto;
}

h6 {
  font-weight: 400;
  font-style: italic;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

span.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.btn-lg {
  background-color: lightsteelblue;
  font-size: 22px;
  font-weight: bold;
  padding: 25px 35px;
}

.list-group-item-info {
  background-color: plum;
  color: darkmagenta;
}

.list-group-item-danger {
  background-color: peachpuff;
  color: darkred;
}

div.list-group {
  font-weight: 1000;
}  

.tooltip-inner {
  background-color: green; 
  color: #FFFFFF; 
  border: 1px solid green; 
  padding: 25px;
  font-size: 20px;
  font-weight: 500;
}